<div class="converter" [formGroup]="convertForm">
  <h4>Converter</h4>
  <div class="item-input">
    <input type="number" formControlName="inputFirst">
    <select formControlName="firstSelect">
      <option value="1">UAH</option>
      <option [ngValue]="currUSD">USD</option>
      <option [ngValue]="currEUR">EUR</option>
    </select>
  </div>
  <div class="div-icon">
  </div>
  <div class="item-input">
    <input type="number" formControlName="inputSecond">
    <select formControlName="secondSelect">
      <option value="1">UAH</option>
      <option [value]="currUSD">USD</option>
      <option [value]="currEUR">EUR</option>
    </select>
  </div>
</div>
